.player-page {
    display: flex;
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    >.player-container {
        width: 700px;
        height: 100px;
        >.caption {
            font-size: 16px;
            color: #2f9842;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        >.player-music {
            display: flex;
            justify-content: space-between;
            >.music-info {
                >.title {
                    font-size: 25px;
                    font-weight: 400;
                    color: #030303;
                    height: 36px;
                    line-height: 36px;
                }
                >.author {}
            }
            >.music-image {
                width: 180px;
                height: 180px;
                border-radius: 50%;
                &.play {
                    animation: play 2s linear infinite;
                }
            }
        }
    }
}
@keyframes play {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}